@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables';
@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins';
@import "mixins";
@import "variables";

.raid-icon{
    max-width: 60px;
    width: 60px;
    height: 60px;
    margin: 14px 2px;
    display: inline-block;
    background-image: url($raid-icons);

    position: relative;
    z-index: $raid-icon-z-index;


    border: #{$raid-icon-border-size}px solid $raid-icon-border-color; // For older browsers
    border: #{$raid-icon-border-size}px solid $raid-icon-border-rgba;

    @include border-radius($raid-icon-border-radius);
    @include box-shadow($raid-icon-shadow);

    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;


    &.heroic:before{
        height: 100%;
        width: 100%;
        position: absolute;
        content: "";
        right: #{(5 - $raid-icon-border-size)}px;
        top: #{(4 - $raid-icon-border-size)}px;
        background: url($raid-heroic-icon) no-repeat top right;
        background-size: 16px;
    }

    &:after{
        color: $raid-icon-font-color;
        content: "";
        position: absolute;
        left: #{($raid-icon-left - $raid-icon-border-size)}px;
        bottom: #{($raid-icon-bottom - $raid-icon-border-size)}px;
        font: $raid-icon-font;
        font-size: 14px;
        font-weight: bold;
        z-index: $raid-icon-z-index + 1;
        @include raid-icon-text-shadow();

    }
&.with-hover{
            cursor: pointer;
        &:hover{
            border: #{$raid-icon-hover-border-size}px solid $raid-icon-hover-border-color; // For older browsers
            border: #{$raid-icon-hover-border-size}px solid $raid-icon-hover-border-rgba;
            &:after{ left: #{($raid-icon-left - $raid-icon-hover-border-size)}px; bottom: #{($raid-icon-bottom - $raid-icon-hover-border-size)}px; }
            &.heroic:before{ right: #{(5 - $raid-icon-hover-border-size)}px; top: #{(4 - $raid-icon-hover-border-size)}px; }
  }
  }

    &.x29{
        width: 29px;
        height: 29px;
        background-size: #{($raid-icons-width / 2)}px #{($raid-icons-height / 2)}px;
        &:after{
            left: #{($raid-icon-29-left - $raid-icon-border-size)}px;
            bottom: #{($raid-icon-29-bottom - $raid-icon-border-size)}px;
            font-size: 9px;
        }
        &.heroic:before{
            background-size: 10px;
            right: #{(2 - $raid-icon-border-size)}px;
            top: #{(2 - $raid-icon-border-size)}px;
        }
        &.with-hover{
        &:hover{
            &.heroic:before{ right: #{(2 - $raid-icon-hover-border-size)}px; top: #{(2 - $raid-icon-hover-border-size)}px; }
            &:after{ left: #{($raid-icon-29-left - $raid-icon-hover-border-size)}px; bottom: #{($raid-icon-29-bottom - $raid-icon-hover-border-size)}px; }
        }
        }
    }

    &.x39{
        width: 39px;
        height: 39px;
        background-size: #{($raid-icons-width / 1.5)}px #{($raid-icons-height / 1.5)}px;
        &:after{
            left: #{($raid-icon-39-left - $raid-icon-border-size)}px;
            bottom: #{($raid-icon-39-bottom - $raid-icon-border-size)}px;
            font-size: 10px;
        }
        &.heroic:before{
            background-size: 12px;
            right: #{(3 - $raid-icon-border-size)}px;
            top: #{(3 - $raid-icon-border-size)}px;
        }
        &.with-hover{
        &:hover{
            &.heroic:before{ right: #{(3 - $raid-icon-hover-border-size)}px; top: #{(3 - $raid-icon-hover-border-size)}px; }
            &:after{ left: #{($raid-icon-39-left - $raid-icon-hover-border-size)}px; bottom: #{($raid-icon-39-bottom - $raid-icon-hover-border-size)}px; }
        }
        }
    }

    &.x47{
        width: 47px;
        height: 47px;
        background-size: #{($raid-icons-width / 1.25)}px #{($raid-icons-height / 1.25)}px;
        &:after{
            left: #{($raid-icon-47-left - $raid-icon-border-size)}px;
            bottom: #{($raid-icon-47-bottom - $raid-icon-border-size)}px;
            font-size: 12px;
        }
        &.heroic:before{
            background-size: 13px;
            right: #{(4 - $raid-icon-border-size)}px;
            top: #{(4 - $raid-icon-border-size)}px;
        }
        &.with-hover{
        &:hover{
            &.heroic:before{ right: #{(4 - $raid-icon-hover-border-size)}px; top: #{(4 - $raid-icon-hover-border-size)}px; }
            &:after{ left: #{($raid-icon-47-left - $raid-icon-hover-border-size)}px; bottom: #{($raid-icon-47-bottom - $raid-icon-hover-border-size)}px; }
        }
        }
    }


    $current-position: 0; // 61
    $current-position-29: 0;
    $current-position-39: 0;
    $current-position-47: 0;

    @each $raid-name in $raid-icon-names{
        &.#{$raid-name} {
            background-position: -#{($current-position + 1 + $raid-icon-border-size)}px -#{$raid-icon-border-size}px;
            &.with-hover{&:hover{ background-position: -#{($current-position + 1 + $raid-icon-hover-border-size)}px -#{$raid-icon-hover-border-size}px; }}
            &.x29{
                background-position: -#{($current-position-29 + 1 + $raid-icon-border-size)}px -#{$raid-icon-border-size}px;
                &.with-hover{&:hover{ background-position: -#{($current-position-29 + 1 + $raid-icon-hover-border-size)}px -#{$raid-icon-hover-border-size}px; }}
            }
            &.x39{
                background-position: -#{($current-position-39 + 1 + $raid-icon-border-size)}px -#{$raid-icon-border-size}px;
                &.with-hover{&:hover{ background-position: -#{($current-position-39 + 1 + $raid-icon-hover-border-size)}px -#{$raid-icon-hover-border-size}px; }}
            }
            &.x47{
                background-position: -#{($current-position-47 + 1 + $raid-icon-border-size)}px -#{$raid-icon-border-size}px;
                &.with-hover{&:hover{ background-position: -#{($current-position-47 + 1 + $raid-icon-hover-border-size)}px -#{$raid-icon-hover-border-size}px; }}
            }

            &:after{
                content: $raid-name;
            }
        }
        $current-position: ($current-position + 61);
        $current-position-29: ($current-position-29 + (61 / 2));
        $current-position-39: ($current-position-39 + (61 / 1.5));
        $current-position-47: ($current-position-47 + (61 / 1.25));
    }
}
